.container {
    width: 40%;

    padding: 2rem;
    margin: 0 auto;
    margin-top: 2rem; 
    background-color:rgba(96, 183, 226, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 400px; /* Adjust height as needed */
    overflow-y: scroll;
    border-radius: 0.5rem;
    border: 2.4px solid rgba(153, 238, 124, 0.5);
    margin-top: 1rem;
    padding: auto;
    font-size: small;
  }

  .message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%;
    
  }
  
  .user-message {
    background-color: rgba(211, 19, 240, 0.213);
    color: #000000;
    align-self: flex-end;
    size: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .bot-message {
    background-color: #e974ab;
    color: #151515;
    width: "auto";
    font-size:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 1rem;
    margin: .5rem;
    border: none;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #910291;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin: .2rem;
  }
  
  button:hover {
    background-color: #47047b;
  }
 