.container {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
 
  }
  
  .container label {
    font-weight: 700;
    font-size: 1rem;
    color: #313131;

  }
  
  .container input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.5rem;
    color: #000;
    border-bottom: 2px solid #ccc; 

  }
  
  .container input:hover {
    border-color: #ba3ee7;
  }
  
  .container input:focus {
    border-color: #010101;
  }
  
