

.dashboard-container {
    justify-content: center;
    
    display: flex;
    flex-direction: row;
  padding: 1rem;
 
   width: fit-content;
   margin: 0 auto;
   height: 50lvh;
 
  }
  
  @media screen and (max-width: 750px){
    .dashboard-container {
      flex-direction: column;
      margin: 0rem auto;
      height: 50vh;
   
    }
    .quiz{
     
      margin: 0 auto 1rem auto;
  
    }
    .Chatbot{
      margin: 0 auto 1rem auto;


    }
    .Cosplay{
      margin: 0 auto;
  
    }
    #username{
      font-size: 1.5rem;
    }
    
  }
  
  .quiz{
    margin-right: 1rem;
    height:100%;

  }
  .Chatbot{
    margin-right: 1rem;
    margin-left: 1rem;
    height:100%;
  }
  .Cosplay{
    margin-left: 1rem;
    height:100%;  }

  #username {
    
   padding: 1rem 0 1rem 0;
    font-size: 2rem;
    color: #fff;
    letter-spacing: .3rem;
    padding-left: 1rem;
    text-shadow: 0 0 5px rgba(123, 6, 232, 1); /* Dark outline */
    text-align: center;
  }


  
 
  
  