#cosplay{
    background-image: url("/src/components/images/cosplay.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
  
    
    -webkit-text-stroke: 1px #f4f4f4;
    text-shadow: 0px 1px 2px #34b3d0;
    
    letter-spacing: .5rem;
    font-weight: bolder;
   
    
      width: 15rem;
      height: 100%;
    padding-top: 1rem;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: auto;
      
      border-radius: 1rem;
      
    
   
   }
   #cosplay:hover{
    text-shadow: 0px 1px 2px black;
  font-size: 2rem;
    filter: brightness(70%);
   transform: scale(1.1); /* Add a pop-up effect on hover */
   }

   #cosplay:hover::before {
    content: "Find your dream anime character to be cosplayed"; /* Add your description text */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    /* background: rgba(0, 0, 0, 0.1); Semi-transparent background for the description */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    z-index: 2;
    width: 200px; /* Adjust the width of the description box as needed */
    text-align: center;
    display: none; /* Hide the description initially */
    filter: brightness(100%);
    letter-spacing: 0;
    text-shadow: 0px 1px 2px #000000;
    font-size: 10px;
    font-weight: normal;
  }
  
  #cosplay:hover::before {
    display: block; /* Show the description on hover */
  }
  