.button-container {
    flex: 0 0 auto; /* Prevent element from growing */
    padding: 10px; /* Add padding */
    border-bottom: 1px solid #ddd; /* Add a border */
    display: flex; /* Enable flexbox for button layout */
    justify-content: center; /* Align buttons horizontally in the center */
  }
  
  .image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
    gap: 4px; /* Add spacing between images */
  }
  img {
    width: 350px; /* Allow image to fill container width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Resize proportionally to cover container */
  }
  A
  .main-container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    height: 100vh; /* Occupy full viewport height */
  }
  
  .vertical-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
  }
  
  .btn {
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    min-width: 100px;
    width: fit-content;
    color: white;
    background-color: rgb(56, 94, 207);
  }
  