.container {
  min-height: fit-content;

padding-top: 3rem;
  justify-content: center;
  border-radius: 1rem;
  display: flex;
}

.innerBoxWrapper {
  display: flex; /* Add display flex to make inner boxes appear next to each other */
  justify-content: center; /* Center the inner boxes horizontally */
 
}

.innerBoxOne{

  width: fit-content;
  background-color: #fff;
  width: 20rem;
  padding: 3rem;
  border-radius: 1rem 0 0 1rem;
  display: inline-block; /* Change display to inline-block */

}
.innerBoxTwo {
  background-image: url('/src/components/images/login.jpg') ;
  background-size: cover; /* Display the image fully while maintaining aspect ratio */
  background-position: 50%; /* Adjust as needed */
   width: 20rem;
  background-color: #fff;

  padding: 3rem;
  border-radius:  0 1rem 1rem 0;
  display: inline-block; /* Change display to inline-block */
}

h3{
  text-align: center;
  letter-spacing: 0.5rem;
}
  
  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer .error {
    font-weight: bold;
    font-size: 0.875rem;
    color: #ff3300;
    text-align: center;
  }
  .footer button {
    outline: none;
    border: none;
    background-color: #c579c5;
    color: #fff;
    border-radius: 1rem;
    font-weight: bold;
    transition: 100ms;
    cursor: pointer;
    width: auto;
    font-size: medium;
    padding: 0.8rem;
    margin: auto;}
  
  
  
  .footer button:disabled {
    background-color: gray !important;
  }
  
  .footer button:hover {
    background-color: #aa2aff;
   
  }
  
  .footer p {
    font-weight: 700;
    color: #000;
    text-align: center;
    font-size: large;
  }
  
  .footer p span a {
    font-weight: bold;
    color: #b663be;
    letter-spacing: 1px;
    font-size: large;
    text-decoration: none;
  }
  