.navbar {
    background-color: rgba(139, 3, 185, 0.319); /* Transparent background color of the navbar */
    padding: 1rem; /* Top and bottom padding */
    text-align: center; /* Center the links */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    border-radius: 1rem; /* Round the corners of the navbar */
    width: fit-content;
    margin: 0 auto; /* Center the navbar */
  }
  
  
  .navbar ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline; /* Display list items horizontally */
    margin: 0 15px; /* Margin between list items */
  }
  
  .navbar a {
    color: #fff; /* Text color of the links */
    text-decoration: none; /* Remove underline from the links */
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make the font bold */
    transition: color 0.3s ease; /* Add smooth transition for color change */
  }
  
  .navbar a:hover {
    color: #54006d85; /* Change text color on hover */
  }
  
  @media screen and (max-width: 420px){
    .navbar ul {
      text-align: center;
      display: flex; /* Display the list items in a flex container */
      flex-direction: row;
  
    }
    .navbar li {
      margin: 0 .5rem; /* Reduce margin between list items */
    }
    .navbar {
     width: 20rem;
    }
  }