@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background-image: url("/src/components/images/background.jpg");
 background-position: 30%;
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire page */
    font-family: 'Inter';
    font-size: 1.5rem;
    text-transform: uppercase;
    min-height: 100vh;
    overflow-y: hidden;
  }
