.app{
  height: 80vh;
  overflow-y: scroll;
}
.uploadbutton{
display: flex;
flex-direction: row;
justify-content: center;
  margin-bottom: 1rem;
   width: 100%;
}


  
  .imageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
    gap: 4px; /* Add spacing between images */
    border:  1px solid black;
    height: 80vh;
  }
  img {
    width: 350px; /* Allow image to fill container width */
    height: 350px; /* Maintain aspect ratio */
    object-fit: cover; /* Resize proportionally to cover container */
    margin: 0.5rem auto;
  }
  A
  .mainContainer {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    height: 100vh; /* Occupy full viewport height */
  }
  
  .verticalStack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
  }
  
  #btn {
    cursor: pointer;
    border-radius: 1rem;
    height: 50px;
    min-width: 100px;
    width: fit-content;
    color: white;
    background-color: 
    rgba(26, 134, 234, 0.482);
  }
  
  #backbutton {
    cursor: pointer;
    border-radius: 1rem;
    width: fit-content;
    color: white;
    background-color: 
    rgb(234, 72, 215);
  transition: 0.3s;
  font-size:small;

   }
   #backbutton:hover {
    background-color: rgb(149, 58, 205);
  }
@media screen and  (max-width: 700px){
  .uploadbutton{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: max-content;
  margin-bottom: 2rem;
  }
  #btn{
   display: flex;
   
  }
  #backbutton{
   display: flex;   
  }
  .imgs {

    width: 100%;

   display: flex;
   flex-direction: column;
  }
  .imgs img{
    display: flex;
    flex-direction: column;

  }
  
}